<!-- Sample Article layout HTML template -->

<!-- Optionally display the rendering context, to see the structure and values available
{{renderingContext | json}}
-->
<div id="{{renderingContext.id}}" class="section sample-article">
    <h4>
        <!-- {{title}} shorter form of {{renderingContext.elements["title"].value}} -->
        {{title}}
    </h4>
    <div class="article-medium-image">
        <img [src]="utilsService.getImageUrl(renderingContext, 'image', 'default')" width="480" height="360">
        <p class="caption">{{summary}}</p>
    </div>
    <div class="article-body">
        <!-- {{body}} is shorter form of {{renderingContext.elements["body"].value}} -->
        <p>{{body}}</p>
    </div>
</div>
